body {
    font-family: sans-serif;
    margin: 0 50px;
		background-color: #222;
		color: #eee;
}

.container {
    display: flex;
    gap: 50px;
}

#posts {
    width: 400px;
}

i {
    cursor: pointer;
}

#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}

#msg {
  color: red;
}